html {
    font-size: 62.5%;
    line-height:1.5;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

*{
    // border: 1px solid red;
    margin:0;
    padding:0;
}

body{
    font-size: 1.6rem; //base font size
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh; //full height backgrounds
    min-height: -webkit-fill-available; 
    //fix for iphone menubar
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    font-family: $primaryFont;
}

body, 
#slider,
header,
// nav, 
.wrapper,
.slideContent
{
    font-family: $primaryFont;
    width: 100%;
    height: 100vh;
    overflow-x: hidden; 
}


// Main Page
header {
    display: flex;
}
h2 {
    font-size: 20rem;
    font-weight: 700; 
    line-height: 1.6;
    text-transform: uppercase; 
    margin: auto;       // element centered
    padding-bottom: 2%; // compensate for visual(vertical) center  
}

// Clipping within text 
.logoClip{
    -webkit-background-clip: text;
    background-clip: text;  
    // -webkit-color: transparent;
    color: black;
    color: transparent; // looking thru the text
}
.logoClip:hover{
    font-size: 30rem; 
}

// PORTFOLIOS PAGE
nav>ul{
    height: 100vh;
}

.siteNavContainer,
.portfolioContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    // width:680px;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.siteNavContainer{
    height: 10vh;
}

.siteNavButton,
.portfolio{
    border: 1px solid red;
    flex-grow: 1;
    display: flex; // to enable centering type
    transform: all;
    // width:170px;
}

.siteNavButton:hover,
.portfolio:hover {
	flex-grow: 3;
	-webkit-transition: ease-in-out, .7s;
	transition: cubic-bezier(.48,.02,.42,1.03), .7s;
}
    
li{
    list-style: none;
    text-align: center;    
    a{
        margin: auto;
        text-decoration: none;  
    }  
}



// GALLERIES
// Gallery Styling
.wrap {
    position: relative;
}
.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

// Gallery Navigation
.arrow {
    cursor: pointer;
    position: absolute;
    top: 47%;
    width: 0;
    height: 0;
    border-style: solid;
}
#arrowLeft {
    border-width: 15px 30px 15px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}
#arrowRight {
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
}





// MEDIA QUERIES
@media(max-width: 540px){
    // Portfolio Selection Page
    .portfolio{
        width: 50%;
        height: 45vh;
    }
    .portfolio:not(:hover){
        background-color:#dedede;
    }
    // end --------------------

}
