html {
    font-size: 62.5%;
    line-height:1.5;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

*{
    // border: 1px solid red;
    margin:0;
    padding:0;
}

body{
    font-size: 1.6rem; //base font size
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh; //full height backgrounds
    min-height: -webkit-fill-available; 
    //fix for iphone menubar
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); 
}

body, 
#slider,
#about,
header,
nav, 
.wrapper,
.slideContent,
.background
{
    font-family: $primaryFont;
    width: 100%;
    height: 100vh;
    overflow-x: hidden; 
}

// #fullPageNav{
//     position: relative;
//     height: 100vh;
// }

// Main Page
header {
    display: flex;
}
header div{
    margin: auto;       // element centered
    position: relative;
    // margin-bottom: 100px;
    padding-bottom: 9vh;
}

h1{
    text-align: center;
    position: absolute;
    bottom: 9vh;
    left: 2%;
    right: 2%;
    font-size: calc(2.5rem + 1.1vw);
    font-weight: 300; 
    line-height: .8;
    text-transform: uppercase; 
    letter-spacing: .1rem;
    span{
        // font-size: calc(2.4rem + 1vw);
        font-weight: 700; 
        display: block;
        letter-spacing: .1rem;
    }
    
}


header a,
h2 {
    font-size: calc( 15rem + 6vw);
    font-weight: 700; 
    line-height: 1.6;
    text-transform: uppercase; 
    // margin: auto;       // element centered
    // padding-bottom: 5%; // compensate for visual(vertical) center 
    // object-fit: cover;
}

li{
    list-style: none;
}

header a {
    color: black;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
 
a{
    text-decoration: none;
    color: black;
    
}

// Clipping within text

.logoClip{
    -webkit-background-clip: text;
    background-clip: text;  
    color: transparent; // looking thru the text
    background-size: cover;
    background-position: 70% 100%; 
    background-repeat: no-repeat;
}


.logoClip:hover{
    font-size: 30rem; 
}


// PORTFOLIOS PAGE
.siteNavContainer,
.portfolioContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.siteNavContainer{
    height: 10vh;
}

.siteNavButton,
.portfolio{
    flex-grow: 1;
    display: flex; // to enable centering type
    transform: all;
}

.siteNavButton:hover,
.portfolio:hover {
	flex-grow: 3;
	-webkit-transition: ease-in-out, .7s;
	transition: cubic-bezier(.48,.02,.42,1.03), .7s;
}
    
nav li{
    // z-index:10;
    font-family: $primaryFont;
    font-weight: 400;
    font-size: calc(1.6rem + .4vw);
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    width: 80px;
    filter: grayscale(70%);
    // transform:scale(1,1);
    transition: all .7s ease-in-out; 
    a{
        z-index:10;        
        margin: auto;
        text-decoration: none;  

        pointer-events: none; 
        color: #fff;  
    }  
}

nav li:hover{
    font-size: calc(2.2rem + .4vw);
    font-weight: 700;
    filter: grayscale(0);
        .categoryOverlay{
            background-color: rgba(0, 0, 0, 0.139);
        } 
}

// nav li:not(:hover){
//         a{
//         opacity: .8;  
//     }  
// }

.homeNavButton{
    background-color: black;
}
.aboutNavButton{
    background-color: rgb(65, 65, 65);
}
.contactNavButton{
    background-color:rgb(96, 96, 96);
}

.portfolio{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    // filter: grayscale(100%);
}

.port1{
    
    background-image: url('../assets/Life16FH-HotWheelsDog.jpg');
}
.port2{
    background-image: url('../assets/People02FH-MastercardPool.jpg');
}
.port3{
    background-image: url('../assets/Land14FH-AppletonWaterTower.jpg');
}
.port4{
    background-image: url('../assets/Auto02FH-FordWideRoadwayShot.jpg');
    background-position: 10% 100%;
}

.categoryOverlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.43);
    z-index: 8;
    pointer-events: none;
}

// GALLERIES
// Gallery Styling
.wrap {
    position: relative;
}
.slider{
    position: relative;
}
.slide,
.backSlide,
.nextSlide,
.previousSlide {
    position:absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity:1;
}

// Preloaded Images - Hidden from view
.nextSlide,
.previousSlide{
    position:absolute;
    opacity: 0;
    // height: 100vh;
    // width: 100%;
    // left: 0;
    // right: 0;
    // top:0;
    // bottom: 0;
}

.slideFromRight{
    animation-delay: 100ms;
    animation: slidesRight 250ms ease-in-out ;
}

@keyframes slidesRight{
    0%{
        right: -100%;
    }
    100%{
        right: 0%;
    }
}

.slideFromLeft{
    animation-delay: 100ms;
    animation: slidesLeft 250ms ease-in-out ;
}
@keyframes slidesLeft{
    0%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}


// Gallery Navigation
.arrow {
    cursor: pointer;
    position: absolute;
    top: 47%;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 5;
}
#arrowLeft {
    border-width: 15px 30px 15px 0;
    border-color: transparent rgb(43, 197, 244) transparent transparent;
    left: 0;
    margin-left: 40px;
}
#arrowRight {
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent rgb(43, 197, 244);
    right: 0;
    margin-right: 40px;
}

// Animation for slides/ NOT UTILIZED - NEEDS TO BE REWORKED
.fade{
    animation: fader .25s;
}
@keyframes fader {
    0%{
        opacity: .8;
    }
    15%{
        opacity: .8;
    }
    30%{
        opacity: .8;
    }
    50%{
        opacity: .8;
    }
    60%{
        opacity: .9;
    }
    75%{
        opacity: .9;
    }
    87%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

// Hamburger Menu
.menu,
input,
.menuBox{
    position: absolute;
    z-index: 10;
    // cursor: grab;
}
input,
.menuBox{     
    top: 40px;
    left: 40px;  
    height: 42px;
    pointer-events: inherit;
}
input{
    opacity:0;
}

.hamburgerMenu,
.hamburgerMenu::before,
.hamburgerMenu::after{
    margin-top: 18px;
    position: relative;
    width: 40px;
    height: 4px;
    background-color: rgb(191, 103, 10);
    z-index: 10;
}
.hamburgerMenu::before{
    content:'';
    position: absolute;
    margin-top: 0;
    top: -14px;
}
.hamburgerMenu::after{
    content:'';
    position: absolute;
    margin-top: 0;
    bottom: -14px;   
}

// Hover over Hamburger
.menu:hover .hamburgerMenu,
.menu:focus-within .hamburgerMenu{
    background-color: white;
        &::before,
        &::after{
            background-color: white;
        }
}

// ANIMATIONS, ROTATING Hamburger, create X
.animatedNav::after{
    transform: rotate(-270deg) translate(-14px); 
    transition: all .5s ease-in-out;
}
.animatedNav{
    transform: rotate(-225deg); 
    transition: all .5s ease-in-out;
}
.animatedNav::before{
    //hide "third" extra element of hamburger
    visibility: hidden;
}

// Overlay
.menuItems{
    position: absolute;
    z-index:8;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(72, 72, 72, 0.900);
    display: grid;
    align-content: center;
    visibility: hidden;
    margin: auto;
    padding-bottom: 2.5%;
    li{
        z-index:10;
        font-family: $primaryFont;
        font-weight: 400;
        font-size: 3rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
            a{
                color: #fff; 
            }
    }
}

// Overlay appearance... Added/Removed-JS
.toggle{
    visibility: visible;
}

.info{
    display: grid;
}


// MEDIA QUERIES
@media(max-width: 540px){
    // Portfolio Selection Page
    // .portfolio{
    //     width: 50%;
    //     height: 45vh;
    // }
    .portfolio{
        width: 100%;
        height: calc ( 90vh/4 );
    }
    // .portfolio:not(:hover){
    //     background-color:#dedede;
    // }

    nav li:hover{
        // font-size: calc(1.8rem + .4vw);
        // letter-spacing: .1rem;
        // font-weight: 600;
        filter: grayscale(0);
        .categoryOverlay{
            background-color: rgba(0, 0, 0, 0.139);
        } 
}
    // end --------------------


}

