// Mixins
$primaryFont: "neue-haas-grotesk-display", sans-serif;  //100, 200, 400, 500, 600, 700, 900
// 100, 700,

$secondaryFont: franklin-gothic-atf, sans-serif ;  // 100, 200, 300, 400, 500
// 200