html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: "neue-haas-grotesk-display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  min-height: 100vh;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.wrapper {
  margin: 0 5%;
  width: 1440px;
  max-width: 90%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body,
#slider,
#about,
header,
nav,
.wrapper,
.slideContent,
.background {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div {
  margin: auto;
  position: relative;
  padding-bottom: 9vh;
}

h1 {
  text-align: center;
  position: absolute;
  bottom: 9vh;
  left: 2%;
  right: 2%;
  font-size: calc(2.5rem + 1.1vw);
  font-weight: 300;
  line-height: .8;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

h1 span {
  font-weight: 700;
  display: block;
  letter-spacing: .1rem;
}

h2,
header a {
  font-size: calc( 15rem + 6vw);
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
}

header a {
  color: black;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.logoClip {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: cover;
  background-position: 70% 100%;
  background-repeat: no-repeat;
}

.logoClip:hover {
  font-size: 30rem;
}

.siteNavContainer,
.portfolioContainer {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.siteNavContainer {
  height: 10vh;
}

.siteNavButton,
.portfolio {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: all;
          transform: all;
}

.siteNavButton:hover,
.portfolio:hover {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -webkit-transition: ease-in-out, .7s;
  -webkit-transition: cubic-bezier(0.48, 0.02, 0.42, 1.03), 0.7s;
  transition: cubic-bezier(0.48, 0.02, 0.42, 1.03), 0.7s;
}

nav li {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-size: calc(1.6rem + .4vw);
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-align: center;
  background-color: black;
  width: 80px;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

nav li a {
  z-index: 10;
  margin: auto;
  text-decoration: none;
  color: #fff;
}

.menuButton a {
  pointer-events: none;
}

.siteNavButton a {
  padding: 3vh;
  overflow: hidden;
  width: 100%;
}

nav li:hover {
  font-size: calc(2.2rem + .4vw);
  font-weight: 700;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

nav li:hover .categoryOverlay {
  background-color: rgba(0, 0, 0, 0.139);
}

.siteNavButton a:hover {
  padding: 1.5vh;
}

.homeNavButton {
  background-color: black;
}

.aboutNavButton {
  background-color: #414141;
}

.contactNavButton {
  background-color: #606060;
}

.portfolio {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.port1 {
  background-image: url("../assets/Life16FH-HotWheelsDog.jpg");
}

.port2 {
  background-image: url("../assets/People02FH-MastercardPool.jpg");
}

.port3 {
  background-image: url("../assets/Land14FH-AppletonWaterTower.jpg");
}

.port4 {
  background-image: url("../assets/Auto02FH-FordWideRoadwayShot.jpg");
  background-position: 10% 100%;
}

.categoryOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.43);
  z-index: 8;
  pointer-events: none;
}

.wrap {
  position: relative;
}

.slider {
  position: relative;
}

.slide,
.backSlide,
.nextSlide,
.previousSlide {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.nextSlide,
.previousSlide {
  position: absolute;
  opacity: 0;
}

.slideFromRight {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation: slidesRight 250ms ease-in-out;
          animation: slidesRight 250ms ease-in-out;
}

@-webkit-keyframes slidesRight {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes slidesRight {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

.slideFromLeft {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation: slidesLeft 250ms ease-in-out;
          animation: slidesLeft 250ms ease-in-out;
}

@-webkit-keyframes slidesLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slidesLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 47%;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 5;
}

#arrowLeft {
  border-width: 15px 30px 15px 0;
  border-color: transparent #2bc5f4 transparent transparent;
  left: 0;
  margin-left: 40px;
}

#arrowRight {
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent #2bc5f4;
  right: 0;
  margin-right: 40px;
}

.fade {
  -webkit-animation: fader .25s;
          animation: fader .25s;
}

@-webkit-keyframes fader {
  0% {
    opacity: .8;
  }
  15% {
    opacity: .8;
  }
  30% {
    opacity: .8;
  }
  50% {
    opacity: .8;
  }
  60% {
    opacity: .9;
  }
  75% {
    opacity: .9;
  }
  87% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fader {
  0% {
    opacity: .8;
  }
  15% {
    opacity: .8;
  }
  30% {
    opacity: .8;
  }
  50% {
    opacity: .8;
  }
  60% {
    opacity: .9;
  }
  75% {
    opacity: .9;
  }
  87% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.menu,
input,
.menuBox {
  position: absolute;
  z-index: 10;
}

input,
.menuBox {
  top: 40px;
  left: 40px;
  height: 42px;
  pointer-events: inherit;
}

input {
  opacity: 0;
}

.hamburgerMenu,
.hamburgerMenu::before,
.hamburgerMenu::after {
  margin-top: 18px;
  position: relative;
  width: 40px;
  height: 4px;
  background-color: #bf670a;
  z-index: 10;
}

.hamburgerMenu::before {
  content: '';
  position: absolute;
  margin-top: 0;
  top: -14px;
}

.hamburgerMenu::after {
  content: '';
  position: absolute;
  margin-top: 0;
  bottom: -14px;
}

.menu:hover .hamburgerMenu,
.menu:focus-within .hamburgerMenu {
  background-color: white;
}

.menu:hover .hamburgerMenu::before, .menu:hover .hamburgerMenu::after,
.menu:focus-within .hamburgerMenu::before,
.menu:focus-within .hamburgerMenu::after {
  background-color: white;
}

.animatedNav {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.animatedNav::after {
  -webkit-transform: rotate(-270deg) translate(-14px);
          transform: rotate(-270deg) translate(-14px);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.animatedNav::before {
  visibility: hidden;
}

.menuItems {
  position: absolute;
  z-index: 8;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(72, 72, 72, 0.9);
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  visibility: hidden;
  margin: auto;
  padding-bottom: 2.5%;
}

.menuItems li {
  z-index: 10;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}

.menuItems li a {
  color: #fff;
}

.toggle {
  visibility: visible;
}

.infoContainer {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  padding: 6vh 0;
  max-width: 88%;
  -ms-grid-columns: (minmax(540px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
  -webkit-column-gap: 6vw;
          column-gap: 6vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  line-height: 1.5;
  letter-spacing: .1rem;
}

.info {
  max-width: 65ch;
  width: 100%;
  padding-bottom: 4vh;
}

.info h3 {
  padding-bottom: .8vh;
}

.info p {
  padding-bottom: 1.8rem;
}

.contactInfo p {
  padding-bottom: 0rem;
}

.contactInfo .email {
  display: block;
}

.clientInfo ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (165px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 165px);
  -webkit-column-gap: 1vw;
          column-gap: 1vw;
}

@media screen and (orientation: portrait) {
  .slide,
  .backSlide,
  .nextSlide,
  .previousSlide {
    background-color: black;
    background-size: contain;
  }
}

@media screen and (orientation: landscape) and (max-width: 1080) {
  .slide,
  .backSlide,
  .nextSlide,
  .previousSlide {
    background-color: black;
    background-size: contain;
  }
}

@media screen and (orientation: landscape) and (max-height: 400px) and (min-width: 670px) {
  .slide,
  .backSlide,
  .nextSlide,
  .previousSlide {
    background-color: black;
    background-size: contain;
  }
}

@media (max-width: 655px) {
  .infoContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 540px) {
  .portfolio {
    width: 100%;
    height: calc 22.5vh;
  }
  nav li:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  nav li:hover .categoryOverlay {
    background-color: rgba(0, 0, 0, 0.139);
  }
}
